@font-face {
    font-family: 'Proxima';
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Bold';
    src: url(../fonts/ProximaNova-Bold.otf);
}

body {
    background: #f8f8f8;
    color: var(--text-color, #606060); /* Fallback color if --text-color is not defined */
    font-family: 'Proxima', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    text-align: center;
    vertical-align: middle;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    text-align: center;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Bold";
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; margin-bottom: 10px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

.title {
    padding-bottom: 40px;
}

.title h2 {
    color: #202020;
    line-height: 20px;
    padding-bottom: 30px;
}

.title p {
    padding-top: 14px;
    padding-bottom: 30px;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

/* preloader section */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}

.sk-spinner-rotating-plane {
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 50%;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@keyframes sk-rotatePlane {
    0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}

/* home section */
#home {
    color: white;
    background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
}

button#dark-mode-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button#dark-mode-toggle:hover {
    background-color: #555;
}

  /* Example button */

  
 

/* home section */
#home {
	background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
	color: #000000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
#home h2 {
	letter-spacing: 2px;
}
#home .btn {
	background: #ff0000;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 20px 40px;
	margin-top: 60px;
}
#home .btn:hover {
	background: #fff;
	color: #ff0000;
	transition: all 0.4s ease-in-out;
}
/* navigation section */
body .navbar-default {
	background: #fc0303;
	border: none;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
	margin: 0 !important;
	
	position: sticky;
	top: 0;
	z-index: 1000;
	color: white;
		
}
body .navbar-default .navbar-brand {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	line-height: 40px !important;
}
body .navbar-default .navbar-nav li a {
	color: #ffffff;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 40px;
}
.navbar-default .navbar-nav li a:hover {
	color: #ff0000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ff0000;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border: none;
	padding-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #ff0000;
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
/* intro section */
#intro {
	padding-top: 180px;
	padding-bottom: 140px;
	background-color: red;
	color: white;
	
}
#intro h4 {
	padding-bottom: 20px;
	color: white;
	font-weight: bold;
}

#intro h2{
	letter-spacing: 2px;
	line-height: 1.5em;
	color: white;
	font-weight: bold;
}

#intro a {
	font-size: 18px;
	padding: 15px 25px;
	border-radius: 50px;
	border: none;
	background-color: #1abc9c;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
  }

  #intro a:hover {
	background-color: #fff;
	color: #1abc9c;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }



/* Our Services section */

#work {
	background-image: url('../images/hometeam.jpg');
	padding: 80px 0;
  }

  #work h2{
	font-weight: bold;
	
  }
  
  #work .title {
	margin-bottom: 40px;
  }
  
  #work .title h2, .title h3 {
	font-size: 36px;
	margin-bottom: 20px;
	padding: 50px;
	letter-spacing: 2px;
	line-height: 1.5em;
	text-align: center;
    color: #333;
	font-weight: bold;
  }
  
  #work .title hr {
	border-top: 2px solid #1abc9c;
	width: 80px;
	margin-bottom: 30px;
	
  }
  
  #work .title h3 {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  #work .title ul {
	margin-bottom: 20px;
	list-style: none;
	padding: 0;
  }
  
  #work .title ul li {
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 10px;
  }
  
  #work .title a {
	font-size: 18px;
	padding: 15px 25px;
	border-radius: 50px;
	border: none;
	background-color: #1abc9c;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
  }
  
  #work .title a:hover {
	background-color: #fff;
	color: #1abc9c;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  

  .services-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.services-list li {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6;
    color: #606060;
}

.service-icon {
    margin-right: 10px;
    color: #1abc9c; /* Choose a color that suits your theme */
    font-size: 20px;
}

  #work .work-item {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	text-align: center;
	padding: 30px 0;
	margin-bottom: 20px;
  }
  
  #work .work-item i {
	font-size: 48px;
	color: #fff;
	background-color: #1abc9c;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	margin-bottom: 30px;
	display: inline-block;
  }
  
  #work .work-item h3 {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
  }

  .btn.btn-default {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn.btn-default:hover {
    background-color: #17a589;
    color: #fff;
}

  .work-item:hover {
	background-color: #d11414;
  }
  
  
  #work .bg-black i {
	background-color: #000;
  }
  
  #work .bg-red i {
	background-color: red;
  }
  
  #work .bg-blue i {
	background-color: #3498db;
  }
  
  #work .bg-purple i {
	background-color: #9b59b6;
  }
  
  @media screen and (max-width: 768px) {
	#work .title {
	  text-align: center;
	}
  
	#work .title h2 {
	  font-size: 32px;
	  margin-bottom: 10px;
	}
  
	#work .title hr {
	  margin: 0 auto;
	}
  
	#work .col-md-4 {
	  margin-bottom: 40px;
	}
  }

  .video-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: 1;
  }
  
  .animated-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://media.tenor.com/JWh8IVKGVDUAAAAM/book-it-objection.gif') no-repeat center center;
	background-size: cover;
	z-index: 1;
  }

  .animated-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://media.tenor.com/JWh8IVKGVDUAAAAM/book-it-objection.gif') no-repeat center center;
	background-size: cover;
	z-index: 1;
  }

  .animated-background2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://media.tenor.com/JWh8IVKGVDUAAAAM/book-it-objection.gif') no-repeat center center;
	background-size: cover;
	z-index: 1;
  }

  .animated-background3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/Logos/white2.png') no-repeat center center;
	background-size: cover;
	z-index: 1;
  }




  #nfts {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

.section-title {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
}

.nft-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.nft-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.nft-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.nft-card-content {
    padding: 20px;
}

.nft-card-content h3 {
    margin-top: 0;
    color: #333;
}

.nft-card-footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}

.nft-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nft-button:hover {
    background-color: #0056b3;
}

.creator-name {
    font-style: italic;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .nft-container {
        flex-direction: column;
        align-items: center;
    }

    .nft-card {
        width: 90%;
    }
}

  

  

  .content {
	position: relative;
	z-index: 2;
	color: white; /* Adjust text color for visibility */
	text-align: center;
	padding: 20px;
  }

  .styled-button {
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid white;
	color: white;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
  }
  
  .styled-button:hover {
	background-color: white;
	color: black;
  }
  
  

/* team section */
#team {
	
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}
#team h2 {
	color: #ffffff;
}
#team h3 {
	font-size: 20px;
	line-height: 10px;
}
#team h4 {
	color: #202020;
	line-height: 10px;
	font-weight: bold;
}
#team .team-des {
	background-color: #ff0000;
	color: #ffffff;
	padding: 20px 12px;
	position: relative;
}
#team img {
	max-width: 100%;
	height: auto;
	padding-top: 60px;
}
/* portfolio section */
#portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
}
#portfolio h2 {
	line-height: 20px;
}
#portfolio h3 {
	color: #ff0000;
	padding-bottom: 60px;
}
#portfolio a {
	text-decoration: none;
}
#portfolio img {
	border-radius: 1px;
	width: 100%;
	max-width: 100%;
	height: auto;
	opacity: 0.8;
	margin-bottom: 34px;
	opacity: 0.6;
	transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
	opacity: 0.9;
}
/* price section */
#price {
	background: #fff;
	padding-top: 100px;
	padding-bottom: 120px;
}
#price .plan {
	background: #ff0000;
	color: #ffffff;
	padding: 0 0 60px 0;
}
#price .plan .plan_title {
	background-color: #f6f6f6;
	color: #202020;
	padding-top: 40px;
	padding-bottom: 40px;
}
#price .plan .plan_sub_title {
	border-bottom: 1px solid #ffffff;
	padding: 30px;
}
#price .plan ul {
	padding: 0;
}
#price .plan ul li {
	display: block;
	font-family: "Proxima";
	font-size: 16px;
	padding: 40px 0 10px 0;
}
#price .plan .btn {
	background: #ffffff;
	border: none;
	border-radius: 0;
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 40px;
	transition: all 0.4s ease-in-out;
	margin-top: 20px;
}
#price .plan .btn:hover {
	background: #202020;
	color: #ffffff;
}
/* google map section */
#map-canvas {
	border: none;
	width: 100%;
	height: 400px;
}
/* contact section */
#contact {
	background: #f6f6f6 url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 80px;
}
#contact h2 {
	color: #ffffff;
}
#contact .form-control {
	border-radius: 4px;
	border: none;
	box-shadow: none;
	margin-top: 12px;
	margin-bottom: 14px;
}
#contact input {
	height: 50px;
}
#contact input[type="submit"] {
	background-color: #ff0000;
	color: #ffffff;
	height: 60px;
	font-weight: bold;
	transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
	background-color: #202020;
}

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

@media (max-width: 768px) {
    .contact-form-container {
        padding: 10px;
    }
}

.copyright p{
	color: white;
}







/* footer section */
footer {
	background: #202020;
	color: #ffffff;
	border-bottom: 10px solid #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}
footer h2 {
	padding-top: 40px;
	padding-bottom: 20px;
}
footer p {
	line-height: 20px;
}
footer .copyright a {
	color: #ff0000;
}
.social-icon {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.social-icon li {
	list-style: none;
	display: inline-block;
}
.social-icon li a {
	background: #f8f8f8;
	border-radius: 100%;
	color: #ff0000;
	font-size: 32px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	margin: 0 6px 40px 6px;
}
.social-icon li a:hover {
	background: #080808;
}
@media screen and (max-width:980px) {
.navbar-default .navbar-nav li a {
	padding-right: 14px;
	padding-left: 14px;
	font-size: 13px;
}
#intro h2 {
	font-size: 32px;
}
#work .title {
	padding: 80px 20px 20px 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 24px;
}
}
@media (max-width:767px) {
.navbar-brand {
	padding-top: 6px;
}
}
@media (max-width:400px) {
#home h1 {
	font-size: 32px;
}
#home h2 {
	font-size: 22px;
}
#intro h2 {
	font-size: 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 60px;
}
}


#videoal {
    /* ... put any margin, padding, etc. here you like */
}

#videoal div.video {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 200px;
    height: 200px;
    margin: 0 350px 100px 0;
}

#videoal div.video video {
    width: 100%;
    height: 100%;
}
.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    transition: padding-top 0.5s ease; /* Smooth transition for video size */
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease; /* Smooth transition for video size */
}

.full-screen-video {
    position: fixed; /* Fullscreen position */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}



/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
} */

.card {
	background-color: rgba(226, 20, 45, 0.8);
	color: #fff;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: calc(33.333% - 40px); /* Three cards per row with the gap accounted */

	/* Adjust padding as needed, or remove if using padding in .content */
  }

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}



.square-holder {
  padding:30px;
  border: 1px solid #cecece;
  align-items: center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
  background-color:#f1f1f1;
  min-height:200px
}

.square-holder img {
  max-width:100%;
  filter: grayscale(100%);
  transition: all 0.3s;
}

/* .square-holder:hover img{
  filter:none;
 
	color: #000000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
} */
#home h2 {
	letter-spacing: 2px;
}
#home .btn {
	background: #17a589;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 20px 40px;
	margin-top: 60px;
}
#home .btn:hover {
	background: #fff;
	color: red;
	transition: all 0.4s ease-in-out;
}

/* portfolio section */
#portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
}
#portfolio h2 {
	line-height: 20px;
}
#portfolio h3 {
	color: #ff0000;
	padding-bottom: 60px;
}
#portfolio a {
	text-decoration: none;
}
#portfolio img {
	border-radius: 1px;
	width: 100%;
	max-width: 100%;
	height: auto;
	opacity: 0.8;
	margin-bottom: 34px;
	opacity: 0.6;
	transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
	opacity: 0.9;
}
/* price section */
#price {
	background: #fff;
	padding-top: 100px;
	padding-bottom: 120px;
}
#price .plan {
	background: #ff0000;
	color: #ffffff;
	padding: 0 0 60px 0;
}
#price .plan .plan_title {
	background-color: #f6f6f6;
	color: #202020;
	padding-top: 40px;
	padding-bottom: 40px;
}
#price .plan .plan_sub_title {
	border-bottom: 1px solid #ffffff;
	padding: 30px;
}
#price .plan ul {
	padding: 0;
}
#price .plan ul li {
	display: block;
	font-family: "Proxima";
	font-size: 16px;
	padding: 40px 0 10px 0;
}
#price .plan .btn {
	background: #ffffff;
	border: none;
	border-radius: 0;
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 40px;
	transition: all 0.4s ease-in-out;
	margin-top: 20px;
}
#price .plan .btn:hover {
	background: #202020;
	color: #ffffff;
}
/* google map section */
#map-canvas {
	border: none;
	width: 100%;
	height: 400px;
}
/* contact section */
#contact {
	background: #f6f6f6 url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 80px;
}
#contact h2 {
	color: #ffffff;
}
#contact .form-control {
	border-radius: 4px;
	border: none;
	box-shadow: none;
	margin-top: 12px;
	margin-bottom: 14px;
}
#contact input {
	height: 50px;
}
#contact input[type="submit"] {
	background-color: #ff0000;
	color: #ffffff;
	height: 60px;
	font-weight: bold;
	transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
	background-color: #202020;
}
/* footer section */
footer {
	background: #202020;
	color: #ffffff;
	border-bottom: 10px solid #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}
footer h2 {
	padding-top: 40px;
	padding-bottom: 20px;
}
footer p {
	line-height: 20px;
}
footer .copyright a {
	color: #ff0000;
}
.social-icon {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.social-icon li {
	list-style: none;
	display: inline-block;
}
.social-icon li a {
	background: #f8f8f8;
	border-radius: 100%;
	color: #ff0000;
	font-size: 32px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	margin: 0 6px 40px 6px;
}
.social-icon li a:hover {
	background: #080808;
}
@media screen and (max-width:980px) {
.navbar-default .navbar-nav li a {
	padding-right: 14px;
	padding-left: 14px;
	font-size: 13px;
}
#intro h2 {
	font-size: 32px;
}
#work .title {
	padding: 80px 20px 20px 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 24px;
}
}
@media (max-width:767px) {
.navbar-brand {
	padding-top: 6px;
}
}
@media (max-width:400px) {
#home h1 {
	font-size: 32px;
}
#home h2 {
	font-size: 22px;
}
#intro h2 {
	font-size: 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 60px;
}
}


#videoal {
    /* ... put any margin, padding, etc. here you like */
}

#videoal div.video {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 200px;
    height: 200px;
    margin: 0 350px 100px 0;
}

#videoal div.video video {
    width: 100%;
    height: 100%;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}



.square-holder {
  padding:30px;
  border: 1px solid #cecece;
  align-items: center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
  background-color:#f1f1f1;
  min-height:200px
}

.square-holder img {
  max-width:100%;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.square-holder:hover img{
  filter:none;
}

.blockchain-services {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}

.blockchain-services h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 300px; /* Adjust as per layout */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.service-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
    color: #fff;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.service-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Responsive adjustments
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
    }
} */

.service h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

p {
font-size: 1.2rem;
line-height: 1.6;
margin-bottom: 1.6rem;
}

strong {
font-weight: bold;
color: #333;
}

.price-tracker{
	margin-bottom: 30px;
}

.price-tracker-header {
	font-size: 24px;
	color: black;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
  }
  

  .navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
  }
  

  .first-container{
	width: 100%;
	margin-top: 80px;
	padding-top: 180px;
	padding-bottom: 140px;
	background-image:url(../images/2023/latin-jacket-1.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; 
  }

  .grand-container{
	width: 100%;
	margin-top: 80px;
	padding-top: 180px;
	padding-bottom: 140px;
	background-image:url(../images/2023/ggrand-jacket.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; 
  }

  #logo{
	height: 100px;
	width: 250px;
	align-items: center;
	margin: 20px;
  }

  #logo img {
	align-self: center;
	background-color: white;
  }

  .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    z-index: 2;
}



.nft-card-image {
	max-width: 100%;
	height: auto;
	border-bottom: 1px solid #eee; /* Visual separation from content */
  }


  body .article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; /* This will space out the cards evenly */
	align-items: flex-start; /* This aligns cards to the top of the container */
	gap: 20px; /* Adjust the space between cards */
	padding: 20px;
  }

  .background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('path-to-background-image.jpg') center / cover no-repeat;
	opacity: 0.5; /* Adjust as needed */
	z-index: 1; /* Ensure it's below the content */
  }



  /* MODAL HERE */

  /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  

#ebooks h2, h1{
	font-weight: bold;
}

 p{
	color: black;
}

.paragraph{
	color: black;
}

.intro-section{
	color: white;
}